<h1>Listing vendors</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Item Name</th>
      <th>Price Per Unit</th>
      <th>Address Line 1</th>
      <th>Address Line 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.vendorname %></td>
        <td><%= vendor.itemname %></td>
        <td><%= vendor.pricepunit %></td>
        <td><%= vendor.address1 %></td>
        <td><%= vendor.address2 %></td>
        <td><%= vendor.city %></td>
        <td><%= vendor.state %></td>
        <td><%= vendor.zipcode %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn btn-lg btn-default"><%= link_to 'Home', root_path %></button>
<button class="btn btn-lg btn-default"><%= link_to 'New Vendor', new_vendor_path %></button>
