<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor Name:</strong>
  <%= @vendor.vendorname %>
</p>

<p>
  <strong>Item Name:</strong>
  <%= @vendor.itemname %>
</p>

<p>
  <strong>Price Per Unit:</strong>
  <%= @vendor.pricepunit %>
</p>

<p>
  <strong>Address Line 1:</strong>
  <%= @vendor.address1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= @vendor.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @vendor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @vendor.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @vendor.zipcode %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Home', root_path %>
