<h1>Purchase Order</h1>

<%= form_for(@product) do |f| %>
    <input type="hidden" name="type" value="buy">
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>Quantity in Stock= <%= @product.quantity%></p>
    <div class="field">
      <%= f.label :buy_quantity %><br>
      <%= f.text_field :buy_quantity %>
    </div>
    <p>Cost Price= <%= @product.costprice%></p>
    <div class="field">
      <%= f.label :amt_paid %><br>
      <%= f.text_field :amt_paid %>
    </div>
    <div class="field">
      <%= f.label :amt_debt %><br>
      <%= f.text_field :amt_debt %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

